body {
  margin:0px;
  background-color:rgba(252, 252, 252, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4648 {
  position:fixed;
  left:0px;
  top:0px;
}
#u4648_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1301px;
  height:61px;
  background-image:none;
}
#u4648_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4650_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-2px;
  width:1311px;
  height:71px;
}
#u4650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u4650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4651 {
  position:absolute;
  left:1216px;
  top:18px;
}
#u4651_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background-image:none;
}
#u4651_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u4652 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4652_img.mouseOver {
}
#u4652.mouseOver {
}
#u4652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:25px;
  word-wrap:break-word;
}
#u4653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u4653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4653_img.mouseOver {
}
#u4653.mouseOver {
}
#u4653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:25px;
  word-wrap:break-word;
}
#u4654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:61px;
}
#u4654 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:160px;
  height:60px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u4654_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:20px;
  width:143px;
  word-wrap:break-word;
}
#u4655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:1151px;
}
#u4655 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:90px;
  width:1260px;
  height:1150px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u4655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:61px;
}
#u4656 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:90px;
  width:1260px;
  height:60px;
  text-align:left;
  line-height:28px;
}
#u4656_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:1240px;
  word-wrap:break-word;
}
#u4658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u4658 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1260px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u4658_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u4660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u4661 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:628px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u4661_img.mouseOver {
}
#u4661.mouseOver {
  opacity:0.8;
}
#u4661_img.mouseDown {
}
#u4661.mouseDown {
  opacity:1;
}
#u4661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u4662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4663_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:843px;
  height:5px;
}
#u4663 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:256px;
  width:840px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u4663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4664_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:404px;
  height:5px;
}
#u4664 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:256px;
  width:401px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u4664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
}
#u4665 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:280px;
  width:78px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:20px;
}
#u4665_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  word-wrap:break-word;
}
#u4666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
}
#u4666 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:282px;
  width:106px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:20px;
}
#u4666_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:2px;
  width:94px;
  word-wrap:break-word;
}
#u4667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
}
#u4667 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:278px;
  width:63px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u4667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u4668_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:33px;
  height:33px;
}
#u4668 {
  border-width:0px;
  position:absolute;
  left:1074px;
  top:240px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u4668_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u4669_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:33px;
  height:33px;
}
#u4669 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:241px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
#u4669_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u4670_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:33px;
  height:33px;
}
#u4670 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:241px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4670_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u4671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  height:101px;
}
#u4671 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:358px;
  width:914px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u4671_text {
  border-width:0px;
  position:absolute;
  left:120px;
  top:20px;
  width:794px;
  word-wrap:break-word;
}
#u4672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u4672 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:358px;
  width:100px;
  height:100px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#4BD863;
}
#u4672_img.mouseOver {
}
#u4672.mouseOver {
}
#u4672_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u4673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  height:101px;
}
#u4673 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:478px;
  width:914px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u4673_text {
  border-width:0px;
  position:absolute;
  left:120px;
  top:20px;
  width:794px;
  word-wrap:break-word;
}
#u4674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u4674 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:478px;
  width:100px;
  height:100px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FF6A00;
}
#u4674_img.mouseOver {
}
#u4674.mouseOver {
}
#u4674_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u4675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u4675 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:628px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
#u4675_img.mouseOver {
}
#u4675.mouseOver {
  opacity:0.8;
}
#u4675_img.mouseDown {
}
#u4675.mouseDown {
  opacity:1;
}
#u4675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u4676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  height:443px;
}
#u4676 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:732px;
  width:914px;
  height:442px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#FF6A00;
  text-align:left;
  line-height:36px;
}
#u4676_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:874px;
  word-wrap:break-word;
}
