body {
  margin:0px;
  background-color:rgba(252, 252, 252, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5116 {
  position:fixed;
  left:0px;
  top:0px;
}
#u5116_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1301px;
  height:61px;
  background-image:none;
}
#u5116_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5118_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-2px;
  width:1311px;
  height:71px;
}
#u5118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u5118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5119 {
  position:absolute;
  left:1216px;
  top:18px;
}
#u5119_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background-image:none;
}
#u5119_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u5120 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5120_img.mouseOver {
}
#u5120.mouseOver {
}
#u5120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:25px;
  word-wrap:break-word;
}
#u5121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u5121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5121_img.mouseOver {
}
#u5121.mouseOver {
}
#u5121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:25px;
  word-wrap:break-word;
}
#u5122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:61px;
}
#u5122 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:160px;
  height:60px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5122_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:20px;
  width:143px;
  word-wrap:break-word;
}
#u5123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:1151px;
}
#u5123 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:90px;
  width:1260px;
  height:1150px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u5123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:61px;
}
#u5124 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:90px;
  width:1260px;
  height:60px;
  text-align:left;
  line-height:28px;
}
#u5124_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:1240px;
  word-wrap:break-word;
}
#u5126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u5126 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1260px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u5126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u5128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u5129 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:628px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u5129_img.mouseOver {
}
#u5129.mouseOver {
  opacity:0.8;
}
#u5129_img.mouseDown {
}
#u5129.mouseDown {
  opacity:1;
}
#u5129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u5130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5131_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:843px;
  height:5px;
}
#u5131 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:256px;
  width:840px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u5131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5132_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:404px;
  height:5px;
}
#u5132 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:256px;
  width:401px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u5132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
}
#u5133 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:280px;
  width:78px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:20px;
}
#u5133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  word-wrap:break-word;
}
#u5134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
}
#u5134 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:282px;
  width:106px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:20px;
}
#u5134_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:2px;
  width:94px;
  word-wrap:break-word;
}
#u5135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
}
#u5135 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:278px;
  width:63px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u5135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u5136_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:33px;
  height:33px;
}
#u5136 {
  border-width:0px;
  position:absolute;
  left:1074px;
  top:240px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u5136_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u5137_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:33px;
  height:33px;
}
#u5137 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:241px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
#u5137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u5138_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:33px;
  height:33px;
}
#u5138 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:241px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u5139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  height:101px;
}
#u5139 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:358px;
  width:914px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u5139_text {
  border-width:0px;
  position:absolute;
  left:120px;
  top:20px;
  width:794px;
  word-wrap:break-word;
}
#u5140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u5140 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:358px;
  width:100px;
  height:100px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#4BD863;
}
#u5140_img.mouseOver {
}
#u5140.mouseOver {
}
#u5140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u5141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  height:101px;
}
#u5141 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:478px;
  width:914px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u5141_text {
  border-width:0px;
  position:absolute;
  left:120px;
  top:20px;
  width:794px;
  word-wrap:break-word;
}
#u5142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u5142 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:478px;
  width:100px;
  height:100px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FF6A00;
}
#u5142_img.mouseOver {
}
#u5142.mouseOver {
}
#u5142_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u5143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u5143 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:628px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
#u5143_img.mouseOver {
}
#u5143.mouseOver {
  opacity:0.8;
}
#u5143_img.mouseDown {
}
#u5143.mouseDown {
  opacity:1;
}
#u5143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u5144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  height:443px;
}
#u5144 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:732px;
  width:914px;
  height:442px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#FF6A00;
  text-align:left;
  line-height:36px;
}
#u5144_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:874px;
  word-wrap:break-word;
}
