body {
  margin:0px;
  background-color:rgba(252, 252, 252, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:96px;
}
#u3056 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:90px;
  width:1260px;
  height:95px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u3056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u3058 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1374px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u3058_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u3060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u3061 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:119px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u3061_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u3061_ann {
  border-width:0px;
  position:absolute;
  left:403px;
  top:115px;
  width:1px;
  height:1px;
}
#u3062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u3062 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:119px;
  width:80px;
  height:35px;
  color:#FFFFFF;
  line-height:20px;
}
#u3062_img.mouseOver {
}
#u3062.mouseOver {
  opacity:0.8;
}
#u3062_img.mouseDown {
}
#u3062.mouseDown {
  opacity:1;
}
#u3062_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u3063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u3064 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:119px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u3064_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u3064_ann {
  border-width:0px;
  position:absolute;
  left:973px;
  top:115px;
  width:1px;
  height:1px;
}
#u3065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u3065 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:119px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u3065_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  word-wrap:break-word;
}
#u3066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u3067 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:119px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u3067_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u3067_ann {
  border-width:0px;
  position:absolute;
  left:783px;
  top:115px;
  width:1px;
  height:1px;
}
#u3068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u3068 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:119px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u3068_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u3070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u3071 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:1287px;
  width:35px;
  height:35px;
  color:#999999;
}
#u3071_img.mouseOver {
}
#u3071.mouseOver {
}
#u3071_img.selected {
}
#u3071.selected {
}
#u3071_img.disabled {
}
#u3071.disabled {
}
#u3071_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u3072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u3072 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:1287px;
  width:35px;
  height:35px;
  color:#999999;
}
#u3072_img.mouseOver {
}
#u3072.mouseOver {
}
#u3072_img.selected {
}
#u3072.selected {
}
#u3072_img.disabled {
}
#u3072.disabled {
}
#u3072_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u3073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u3073 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:1287px;
  width:35px;
  height:35px;
  color:#999999;
}
#u3073_img.mouseOver {
}
#u3073.mouseOver {
}
#u3073_img.selected {
}
#u3073.selected {
}
#u3073_img.disabled {
}
#u3073.disabled {
}
#u3073_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u3074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u3074 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:1287px;
  width:35px;
  height:35px;
  color:#999999;
}
#u3074_img.mouseOver {
}
#u3074.mouseOver {
}
#u3074_img.selected {
}
#u3074.selected {
}
#u3074_img.disabled {
}
#u3074.disabled {
}
#u3074_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u3075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u3075 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:1287px;
  width:35px;
  height:35px;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:300;
  font-style:normal;
  color:#999999;
}
#u3075_img.mouseOver {
}
#u3075.mouseOver {
}
#u3075_img.selected {
}
#u3075.selected {
}
#u3075_img.disabled {
}
#u3075.disabled {
}
#u3075_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  word-wrap:break-word;
}
#u3076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u3076 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:1287px;
  width:35px;
  height:35px;
  color:#999999;
}
#u3076_img.mouseOver {
}
#u3076.mouseOver {
}
#u3076_img.selected {
}
#u3076.selected {
}
#u3076_img.disabled {
}
#u3076.disabled {
}
#u3076_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u3077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u3077 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:1287px;
  width:35px;
  height:35px;
  color:#999999;
}
#u3077_img.mouseOver {
}
#u3077.mouseOver {
}
#u3077_img.selected {
}
#u3077.selected {
}
#u3077_img.disabled {
}
#u3077.disabled {
}
#u3077_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u3078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u3078 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:1287px;
  width:35px;
  height:35px;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:300;
  font-style:normal;
  color:#999999;
}
#u3078_img.mouseOver {
}
#u3078.mouseOver {
}
#u3078_img.selected {
}
#u3078.selected {
}
#u3078_img.disabled {
}
#u3078.disabled {
}
#u3078_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  word-wrap:break-word;
}
#u3079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u3079 {
  border-width:0px;
  position:absolute;
  left:1096px;
  top:1287px;
  width:35px;
  height:35px;
  color:#999999;
}
#u3079_img.mouseOver {
}
#u3079.mouseOver {
}
#u3079_img.selected {
}
#u3079.selected {
}
#u3079_img.disabled {
}
#u3079.disabled {
}
#u3079_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u3080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u3080 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:1287px;
  width:80px;
  height:35px;
}
#u3080_img.mouseOver {
}
#u3080.mouseOver {
}
#u3080_img.selected {
}
#u3080.selected {
}
#u3080_img.disabled {
}
#u3080.disabled {
}
#u3080_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u3081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u3081 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:119px;
  width:80px;
  height:35px;
  color:#999999;
}
#u3081_img.mouseOver {
}
#u3081.mouseOver {
}
#u3081_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u3082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u3082 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:119px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u3082_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u3082_ann {
  border-width:0px;
  position:absolute;
  left:213px;
  top:115px;
  width:1px;
  height:1px;
}
#u3083 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:223px;
  width:600px;
  height:232px;
}
#u3084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
}
#u3084 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#909399;
  text-align:left;
}
#u3084_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u3085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
}
#u3085 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:48px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#909399;
  text-align:left;
}
#u3085_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u3086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
}
#u3086 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:48px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#909399;
  text-align:left;
}
#u3086_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u3087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
}
#u3087 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:48px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#909399;
  text-align:left;
}
#u3087_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u3088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
}
#u3088 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:48px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#909399;
  text-align:left;
}
#u3088_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u3089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
}
#u3089 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:48px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#909399;
  text-align:left;
}
#u3089_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u3090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
}
#u3090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:100px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
#u3090_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u3091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
}
#u3091 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:48px;
  width:100px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
#u3091_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u3092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
}
#u3092 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:48px;
  width:100px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#606266;
  text-align:left;
}
#u3092_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u3093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
}
#u3093 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:48px;
  width:100px;
  height:46px;
  color:#606266;
  text-align:left;
}
#u3093_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u3094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
}
#u3094 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:48px;
  width:100px;
  height:46px;
  color:#606266;
  text-align:left;
}
#u3094_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u3095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
}
#u3095 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:48px;
  width:100px;
  height:46px;
  color:#606266;
  text-align:left;
}
#u3095_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
}
#u3096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:100px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
#u3096_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u3097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
}
#u3097 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:94px;
  width:100px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
#u3097_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u3098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
}
#u3098 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:94px;
  width:100px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#606266;
  text-align:left;
}
#u3098_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u3099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
}
#u3099 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:94px;
  width:100px;
  height:46px;
  color:#606266;
  text-align:left;
}
#u3099_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u3100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
}
#u3100 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:94px;
  width:100px;
  height:46px;
  color:#606266;
  text-align:left;
}
#u3100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u3101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
}
#u3101 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:94px;
  width:100px;
  height:46px;
  color:#606266;
  text-align:left;
}
#u3101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
}
#u3102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:100px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
#u3102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u3103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
}
#u3103 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:140px;
  width:100px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
#u3103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u3104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
}
#u3104 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:140px;
  width:100px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#606266;
  text-align:left;
}
#u3104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u3105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
}
#u3105 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:140px;
  width:100px;
  height:46px;
  color:#606266;
  text-align:left;
}
#u3105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u3106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
}
#u3106 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:140px;
  width:100px;
  height:46px;
  color:#606266;
  text-align:left;
}
#u3106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u3107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
}
#u3107 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:140px;
  width:100px;
  height:46px;
  color:#606266;
  text-align:left;
}
#u3107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
}
#u3108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:186px;
  width:100px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
#u3108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u3109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
}
#u3109 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:186px;
  width:100px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
#u3109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u3110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
}
#u3110 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:186px;
  width:100px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#606266;
  text-align:left;
}
#u3110_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u3111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
}
#u3111 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:186px;
  width:100px;
  height:46px;
  color:#606266;
  text-align:left;
}
#u3111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u3112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
}
#u3112 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:186px;
  width:100px;
  height:46px;
  color:#606266;
  text-align:left;
}
#u3112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u3113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
}
#u3113 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:186px;
  width:100px;
  height:46px;
  color:#606266;
  text-align:left;
}
#u3113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3116 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:477px;
  width:28px;
  height:28px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#409EFF;
  line-height:13px;
}
#u3116_img.mouseOver {
}
#u3116.mouseOver {
}
#u3116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u3117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3117 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:477px;
  width:28px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  line-height:13px;
}
#u3117_img.mouseOver {
}
#u3117.mouseOver {
}
#u3117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u3118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3118 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:477px;
  width:28px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  line-height:13px;
}
#u3118_img.mouseOver {
}
#u3118.mouseOver {
}
#u3118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u3119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3119 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:477px;
  width:28px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  line-height:13px;
}
#u3119_img.mouseOver {
}
#u3119.mouseOver {
}
#u3119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u3120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3120 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:477px;
  width:28px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  line-height:13px;
}
#u3120_img.mouseOver {
}
#u3120.mouseOver {
}
#u3120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u3121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3121 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:477px;
  width:28px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  line-height:13px;
}
#u3121_img.mouseOver {
}
#u3121.mouseOver {
}
#u3121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u3122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3123 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:477px;
  width:28px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  line-height:13px;
}
#u3123_img.mouseOver {
}
#u3123.mouseOver {
}
#u3123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u3124 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:484px;
  width:14px;
  height:14px;
  opacity:0.9;
}
#u3124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3125 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:477px;
  width:28px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  line-height:13px;
}
#u3125_img.mouseOver {
}
#u3125.mouseOver {
}
#u3125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u3126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3127 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:477px;
  width:28px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  line-height:13px;
}
#u3127_img.mouseOver {
}
#u3127.mouseOver {
}
#u3127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u3128 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:487px;
  width:8px;
  height:8px;
}
#u3128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3130 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:477px;
  width:28px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  line-height:13px;
}
#u3130_img.mouseOver {
}
#u3130.mouseOver {
}
#u3130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u3131 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:487px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.6;
}
#u3131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:29px;
}
#u3133 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:477px;
  width:88px;
  height:28px;
  color:#666666;
  line-height:13px;
}
#u3133_img.selected {
}
#u3133.selected {
}
#u3133_img.disabled {
}
#u3133.disabled {
}
#u3133_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u3134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
}
#u3134 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:489px;
  width:10px;
  height:6px;
}
#u3134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:29px;
}
#u3136 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:477px;
  width:38px;
  height:28px;
  font-size:13px;
  color:#666666;
  text-align:center;
  line-height:13px;
}
#u3136_img.selected {
}
#u3136.selected {
}
#u3136_img.disabled {
}
#u3136.disabled {
}
#u3136_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:8px;
  white-space:nowrap;
}
#u3137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:29px;
}
#u3137 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:477px;
  width:33px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:13px;
}
#u3137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:29px;
  white-space:nowrap;
}
#u3138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:29px;
}
#u3138 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:477px;
  width:19px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:13px;
}
#u3138_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:15px;
  white-space:nowrap;
}
#u3139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:29px;
}
#u3139 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:477px;
  width:50px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
  line-height:13px;
}
#u3139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:50px;
  white-space:nowrap;
}
