body {
  margin:0px;
  background-color:rgba(252, 252, 252, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5145 {
  position:fixed;
  left:0px;
  top:0px;
}
#u5145_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1301px;
  height:61px;
  background-image:none;
}
#u5145_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5147_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-2px;
  width:1311px;
  height:71px;
}
#u5147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u5147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5148 {
  position:absolute;
  left:1216px;
  top:18px;
}
#u5148_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background-image:none;
}
#u5148_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u5149 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5149_img.mouseOver {
}
#u5149.mouseOver {
}
#u5149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:25px;
  word-wrap:break-word;
}
#u5150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u5150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5150_img.mouseOver {
}
#u5150.mouseOver {
}
#u5150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:25px;
  word-wrap:break-word;
}
#u5151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:61px;
}
#u5151 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:160px;
  height:60px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5151_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:20px;
  width:143px;
  word-wrap:break-word;
}
#u5152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:701px;
}
#u5152 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:90px;
  width:1260px;
  height:700px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u5152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:61px;
}
#u5153 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:90px;
  width:1260px;
  height:60px;
  text-align:left;
  line-height:28px;
}
#u5153_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:1240px;
  word-wrap:break-word;
}
#u5155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u5155 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:810px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u5155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u5157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5158 {
  position:absolute;
  left:150px;
  top:300px;
}
#u5158_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1001px;
  height:186px;
  background-image:none;
}
#u5158_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:19px;
}
#u5159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:97px;
  width:1000px;
  height:18px;
}
#u5159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:21px;
}
#u5160 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:50px;
  width:46px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0079FE;
  line-height:20px;
}
#u5160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u5161 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:97px;
  width:6px;
  height:19px;
  overflow:hidden;
  visibility:hidden;
}
#u5161_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:19px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 121, 254, 1);
  background-image:none;
}
#u5161_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5161_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:19px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 121, 254, 1);
  background-image:none;
}
#u5161_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  height:38px;
}
#u5162 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:148px;
  width:914px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u5162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:914px;
  word-wrap:break-word;
}
